:host {
  .screen-cover-on {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;

  }

  &:hover {
    .screen-cover-on {
      display: none;
    }
  }
}
